<a href='#!/new/User'>Create User</a>

<h1>User</h1>
<table>
 <tr>
   <th>name</th>
   <th>Actions</th>
   <th>name</th>
   <th>Actions</th>
   </tr>
   <tr ng-repeat='User in Users'>
     <td ng-bind='User.name'></td>
     <td ng-bind='User.name'></td>
     <td>
       <a href='#!/User/{{User._id}}'>Show</a>
       <a href='#!/User/{{User._id}}/edit'>Edit</a>
       <button ng-click='destroy(User)'>X</button>
     </td>
   </tr>
 </table>
<a href='#!/new/User'>Create User</a>

<h1>User</h1>
<table>
 <tr>
   <th>name</th>
   <th>Actions</th>
   </tr>
   <tr ng-repeat='User in Users'>
     <td ng-bind='User.name'></td>
     <td>
       <a href='#!/User/{{User._id}}'>Show</a>
       <a href='#!/User/{{User._id}}/edit'>Edit</a>
       <button ng-click='destroy(User)'>X</button>
     </td>
   </tr>
 </table>
<a href='#!/new/User'>Create User</a>

<h1>User</h1>
<table>
 <tr>
   <th>name</th>
   <th>Actions</th>
   </tr>
   <tr ng-repeat='User in Users'>
     <td ng-bind='User.name'></td>
     <td>
       <a href='#!/User/{{User._id}}'>Show</a>
       <a href='#!/User/{{User._id}}/edit'>Edit</a>
       <button ng-click='destroy(User)'>X</button>
     </td>
   </tr>
 </table>
<a href='#!/new/User'>Create User</a>

<h1>User</h1>
<table>
 <tr>
   <th>name</th>
   <th>Actions</th>
   </tr>
   <tr ng-repeat='User in Users'>
     <td ng-bind='User.name'></td>
     <td>
       <a href='#!/User/{{User._id}}'>Show</a>
       <a href='#!/User/{{User._id}}/edit'>Edit</a>
       <button ng-click='destroy(User)'>X</button>
     </td>
   </tr>
 </table>
