      <!--                    -->
      <!--  SET UP YOUR FORM  -->
      <!-- here is an example -->
      <!--                    -->
<form ng-model='{{class}}' ng-submit='create()';>
  <input type='submit' value='Create'>
</form>
      <!--                    -->
      <!--  SET UP YOUR FORM  -->
      <!-- here is an example -->
      <!--                    -->
<form ng-model='{{class}}' ng-submit='create()';>
  <input type='submit' value='Create'>
</form>
      <!--                    -->
      <!--  SET UP YOUR FORM  -->
      <!-- here is an example -->
      <!--                    -->
<form ng-model='{{class}}' ng-submit='create()';>
  <input type='submit' value='Create'>
</form>
      <!--                    -->
      <!--  SET UP YOUR FORM  -->
      <!-- here is an example -->
      <!--                    -->
<form ng-model='{{class}}' ng-submit='create()';>
  <input type='submit' value='Create'>
</form>
